@media (max-width: 1920px)

	//-------------------------------------------------HEADER-------------------------------------------

	.promo
		&_header
			.row
				min-height: $height_196-120
			&_logo
				&_link
					width: 100%
					&_img
						width: 100%				
			&_menu
				&_list
					margin: 0
					padding: 0
					width: 100%
					&_item
						&_link
							font-size: $font-size_24-18
							font-weight: 600

	// -------------------------------------BACKGROUND-FOTO----------------------------------------

	.background
		min-height: $height_675-416

	// ----------------------------------------FIRST-POST-------------------------------------------	

	.post_block
		margin: 0 auto
		padding-top: 80px
		padding-bottom: 160px 
		.row
			min-height: $height_2000-1300
		&_first
			padding-bottom: 80px
			&_weekend
				padding: 32px 0 32px 0
				&_h3				
					&_link
						padding-top: 38px					
				&_h2
					padding-top: 18px
				&_p
					padding-top: 18px
			&_link
				font-weight: 500
		&_second
			padding: 0
			&_festival,
			&_coffee
				width: 48%
				&_img
					width: 100%	
				&_h3
					&_link
						padding-top: 38px
				&_h2
					padding-top: 18px
				&_p
					padding-top: 18px
		&_third
			padding: 0
			&_dream,
			&_alps
				width: 48%
				&_img
					width: 100%	
				&_h3
					&_link
						padding-top: 38px
				&_h2
					padding-top: 18px
				&_p
					padding-top: 18px

	/*-----------------------------------------------SING-UP-----------------------------------------------

	.sign_up 
		.row	
			min-height: $height_385-120
		&_block
			// width: 35%
			height: $height_150-100
			&_h2
				&_link
					width: 100%
					margin: 0
			&_email
				width: 100%
				height: 40px
				border-bottom: 2px solid
				&_form
					width: 100%
					&_input
						font-size: $font-size_18-13
						width: 100%
					&_arrow
						height: 70%
						width: 10%

	/*-----------------------------------------TOP-SONG-&-WINTER-DAYS--------------------------------------

	.second_post	
		padding: 140px 0 140px 0
		.row
			min-height: $height_700-416
		&_block
			padding: 0	
			&_song,
			&_winter
				width: 48%
				&_img
					width: 100%	
				&_h3
					&_link
						padding-top: 38px
				&_h2
					@include h2
					padding-top: 18px
				&_p
					@include p
					padding-top: 18px

	/*---------------------------------------------LOAD-BUTTON---------------------------------------------

	.button
		padding: 20px 0 20px 0
		.row
			min-height: $height_60-50
		&_block	
			&_btn
				height: 100%
				// width: 12%
				font-size: $font-size_20-16
				&:hover
					font-size: $font-size_20-16

	/*---------------------------------------------COMMENT--------------------------------------------------

	.comment
		padding: 140px 0 140px 0
		.row			
			min-height: $height_200-140
		&_h3
		&_form
			min-height: $height_166-120
			&_fotobox
				min-height: $height_170-140
				&_photo
					height: $height_155-100
					width: $width_155-100
			&_textbox		
				min-height: 100px		
				&_text	
					min-height: $height_105-86		
					width: 100%
					border-radius: 16px
					font-size: $font-size_22-16
					margin: 0
					padding-left: 20px
				&_h3
					&_link
						padding-left: 20px

	/*---------------------------------------------FOOTER--------------------------------------------------

	.footer
		display: flex
		padding: 10px 0 10px 0
		background: $semi_gray_color
		.row
			min-height: 100px
		&_follow
			display: flex
			flex-direction: row
			align-content: center
			&_p
				display: flex
				flex-direction: row
				align-items: center
				margin: 0
			&_list
				display: flex
				flex-direction: row
				justify-content: space-evenly 
				list-style-type: none
				padding: 0
				margin: 0
				width: 50%
				&_item
					display: flex
					align-content: center
					&_link
						display: flex
						flex-direction: row
						align-items: center
						justify-content: center
						&_img
							width: 25%
		&_licence
			display: flex
			flex-direction: row
			justify-content: right					
			align-items: center	
			&_p
				margin: 0	

@media (max-width: 1399.98px)

	.sign_up 
		.row
		&_block
			// width: 50%
			&_h2
				// &_link
				// 	width: 100%
			&_email
				// width: 100%
				// height: 40px
				&_form
					// width: 100%
					// &_input
					// 	width: 100%
					&_arrow
						height: 70%
						width: 12%

@media (max-width: 1199.98px)

	.sign_up 
		.row
		&_block
			// width: 50%
			&_h2
				// &_link
				// 	width: 100%
			&_email
				// width: 100%
				// height: 40px
				&_form
					// width: 100%
					// &_input
					// 	width: 100%
					&_arrow
						height: 60%
						width: 14%

@media (max-width: 991.98px) 

	.promo
		&_header
			.row
				min-height: $height_196-120				
			&_logo
				&_link
					width: 100%
					&_img
						width: 100%				
			&_menu
				display: none
			&_hamburger-box-menu
				display: flex	
				justify-content: flex-end
				padding: 0
				&_menu
					&_list
						position: fixed
						flex-direction: column
						justify-content: center
						align-items: center		
						top: 0		
						left: -100%
						width: 50%
						height: 100vh
						background-color: rgba(0, 0, 0, 0.8)
						transition: 0.6s all
						padding: 0
						&_active
							left: 0				
						&_item
							display: flex	
							flex-direction: column
							justify-content: space-evenly
							align-items: center
							height: 25%
							// padding: 0
							&_link
								display: flex
								color: $gold_color
								font-size: 24px
								text-decoration: none
								font-weight: 600
								&:hover
									@include link_hover
				&_hamburger
					display: flex
					flex-direction: column
					justify-content: flex-end
					align-content: center					
					// transform: translateY(-50%)       
					right: 9.5%
					width: 50px 
					height: 20px      
					span
						display: flex						
						height: 3px
						width: 100%
						background-color: $gold_color 
						transition: 0.6s all
						&:nth-child(2)
							margin: 5px 0              
					&_active
						span 
							margin-top: -40px               
							&:nth-child(1)
								margin-top: 2px
								transform: translateY(-7px) rotate(-45deg)                    
							&:nth-child(2)
								display: none                                             
							&:nth-child(3)
								margin-top: -2px
								transform: translateY(-8px) rotate(45deg)		

	.sign_up 
		.row
		&_block
			// width: 50%
			&_h2
				// &_link
				// 	width: 100%
			&_email
				// width: 100%
				// height: 40px
				&_form
					// width: 100%
					// &_input
					// 	width: 100%
					&_arrow
						height: 50%
						// width: 14%	

	.button
		padding: 20px 0 20px 0
		.row
			// min-height: $height_60-50
		&_block	
			&_btn
				height: 100%
				width: 14%
				// font-size: $font-size_20-16
				// &:hover
					// font-size: $font-size_20-16	

@media (max-width: 767.98px)

	.sign_up 
		.row
		&_block
			width: 50%
			&_h2
				// &_link
				// 	width: 100%
			&_email
				// width: 100%
				// height: 40px
				&_form
					// width: 100%
					// &_input
					// 	width: 100%
					&_arrow
						height: 50%
						// width: 14%

	.button
		padding: 20px 0 20px 0
		.row
			// min-height: $height_60-50
		&_block	
			&_btn
				height: 100%
				width: 18%
				// font-size: $font-size_20-16
				// &:hover
					// font-size: $font-size_20-16															

	.comment
		// padding: 140px 0 140px 0
		.row			
			// min-height: $height_200-140
		&_h3
		&_form
			// min-height: $height_166-120
			&_fotobox
				// min-height: $height_170-140
				&_photo
					// height: $height_155-100
					// width: $width_155-100
			&_textbox		
				// min-height: 100px	
				width: 75%		
				&_text	
					// min-height: $height_105-86		
					// width: 100%
					// border-radius: 16px
					// font-size: $font-size_22-16
					// margin: 0
					// padding-left: 20px
				// &_h3
				// 	&_link
				// 		padding-left: 20px															

// @media (max-width: 575.98px)

// @media (max-width: 455.58px)			