@media (max-width: 1920px)

	//-------------------------------------------------HEADER-------------------------------------------

	.promo
		&_header
			.row
				min-height: $height_196-120
			&_hamburger-box-menu
				display: none
				&_menu
					&_list
						margin: 0
						padding: 0
						&_item					
							&_link
								color: $gold_color
								font-size: $font-size_24-18
			&_logo
				&_link
					width: 100%
					&_img
						width: 100%				
			&_menu
				&_list
					margin: 0
					padding: 0
					width: 100%
					&_item
						&_link
							font-size: $font-size_24-18
							font-weight: 600

	// -------------------------------------BACKGROUND-FOTO----------------------------------------

	.background
		min-height: $height_675-416

	// ----------------------------------------FIRST-POST-------------------------------------------	

	.post_block
		margin: 0 auto
		padding-top: 80px
		padding-bottom: 160px 
		.row
			min-height: 2162px
		&_first
			padding-bottom: 116px
			&_weekend
				padding: 32px 0 32px 0
				&_h3				
					&_link
						padding-top: 38px					
				&_h2
					padding-top: 18px
				&_p
					padding-top: 18px
			&_link
				font-weight: 500
		&_second
			padding: 0
			&_festival,
			&_coffee
				width: 48%
				&_img
					width: 100%	
				&_h3
					&_link
						padding-top: 38px
				&_h2
					padding-top: 18px
				&_p
					padding-top: 18px
		&_third
			padding: 0
			&_dream,
			&_alps
				width: 48%
				&_img
					width: 100%	
				&_h3
					&_link
						padding-top: 38px
				&_h2
					padding-top: 18px
				&_p
					padding-top: 18px

	/*-----------------------------------------------SING-UP-----------------------------------------------

	.sign_up 
		.row	
			min-height: $height_385-120
		&_block
			width: 30%
			height: $height_150-100
			&_h2
				&_link
					width: 100%
					margin: 0
			&_email
				width: 100%
				height: 40px
				border-bottom: 2px solid
				&_form
					width: 100%
					&_input
						font-size: $font-size_18-13
						width: 100%
					&_arrow
						height: 80%

	/*-----------------------------------------TOP-SONG-&-WINTER-DAYS--------------------------------------

	.second_post	
		padding: 140px 0 140px 0
		.row
			min-height: $height_700-416
		&_block
			padding: 0	
			&_song,
			&_winter
				width: 48%
				&_img
					width: 100%	
				&_h3
					&_link
						padding-top: 38px
				&_h2
					@include h2
					padding-top: 18px
				&_p
					@include p
					padding-top: 18px

	/*---------------------------------------------LOAD-BUTTON---------------------------------------------

	.button
		padding: 20px 0 20px 0
		.row
			min-height: $height_60-50
		&_block	
			&_btn
				height: 100%
				width: 12%
				border: 1px solid $grey_color				
				font-size: $font-size_20-16
				&:hover
					font-size: $font-size_20-16

	/*---------------------------------------------COMMENT--------------------------------------------------

	.comment
		padding: 140px 0 140px 0
		.row			
			min-height: $height_200-140
		&_h3
		&_form
			min-height: $height_166-120
			&_fotobox
				min-height: $height_170-140
				&_photo
					height: $height_155-100
					width: $width_155-100
			&_textbox		
				min-height: 100px		
				&_text	
					min-height: $height_105-86		
					width: 100%
					border-radius: 16px
					font-size: 22px
					margin: 0
					padding-left: 20px
				&_h3
					&_link
						padding-left: 20px

	/*---------------------------------------------FOOTER--------------------------------------------------

	.footer
		display: flex
		padding: 10px 0 10px 0
		background: $semi_gray_color
		.row
			min-height: 100px
		&_follow
			display: flex
			flex-direction: row
			align-content: center
			&_p
				display: flex
				flex-direction: row
				align-items: center
				margin: 0
			&_list
				display: flex
				flex-direction: row
				justify-content: space-evenly 
				list-style-type: none
				padding: 0
				margin: 0
				width: 50%
				&_item
					display: flex
					align-content: center
					&_link
						display: flex
						flex-direction: row
						align-items: center
						justify-content: center
						&_img
							width: 25%
		&_licence
			display: flex
			flex-direction: row
			justify-content: right					
			align-items: center	
			&_p
				margin: 0	

// @media (max-width: 1399.98px)

// @media (max-width: 1199.98px)	

// @media (max-width: 991.98px) 

// @media (max-width: 767.98px)

// @media (max-width: 575.98px)

// @media (max-width: 455.58px)			