@mixin image_features
	background-size: cover
	background-repeat: no-repeat
	background-position: center center

@mixin h2
	font-family: 'Playfair Display', serif
	color: $grey_color

@mixin h3
	font-family: 'Ubuntu', sans-serif
	color: $gold_color
	text-decoration: none

@mixin p
	font-family: 'Playfair Display', serif
	color: $grey_color
	line-height: 170%
	letter-spacing: 0.05px
	word-spacing: 3px

@mixin link_hover
	color: $grey_color
	text-decoration: underline
	
	